@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

.container{
  margin: 0 auto;
  width: 100%;
}

.blabla{
  clear: both;
  display: block;
  right: 200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 35px;
  width: 100%;
}

.content{
  clear: both;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
  width: 1000px;
}

.text{
  clear: both;
  background: #6db030;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
  float: left;
  padding: 20px 0 40px 40px;
  position: relative;
  top: 55px;
  width: 65%;
}

.text h1{
  color: #ffffff;
  font-size: 2.1em;
  font-weight: 300;
  width: 80%;
}

.text a{
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
}

.text a:hover{
  color: #eee;
  text-decoration: none;
}

.text img{
  position: relative;
  width: 15px;
}

.foto{
  float: right;
  position: absolute;
  right: 0;
  width: 40%;
}

.foto img{
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
  width: 100%;
}

.conoce{
  clear: both;
  display: block;
  margin: 0 auto 25px;
  position: relative;
  top: 150px;
  text-align: center;
  width: 100%;
}

.conoce a{
  color: #ffffff;
  background: #f53f5b;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
  font-size: 1.5em;
  padding: 8px 12px;
  text-decoration: none;
}

.conoce a:hover{
  background: #d01e3a;
  text-decoration: none;
}

.conoce img{
  position: relative;
  top: 3px;
  width: 25px;
}

#text{
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .4s;
  /*-webkit-animation-iteration-count: infinite;*/
}

#pict{
  -webkit-animation-delay: 0.8s;
}

#blog{
  -webkit-animation-delay: 1.1s;
}

@media screen and (max-width: 992px){
  .content{
    width: 100%;
  }

  .blabla {
    left: 0px;
    text-align: center;
    top: 0px;
    right: 0px;
  }

  .blabla img{
    width: 70%;
  }

  .text{
    top: 0px;
    width: 100%;
  }
  .text h1{
    font-size: 1.5em;
    width: 85%;
  }

  .foto{
    display: none;
  }

  .text a{
    font-size: 1.1em;
  }

  .text img{
    width: 20px;
  }

  .conoce{
    top: 30px;
  }

  .conoce a{
    font-size: 1em;
  }

}
